<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="ev.laborai.pirmaslab.mybatis.model.Driver" alias="Driver"/>
        <typeAlias type="ev.laborai.pirmaslab.mybatis.model.Car" alias="Car"/>
        <typeAlias type="ev.laborai.pirmaslab.mybatis.model.Rider" alias="Rider"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="DriversDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/xml/DriverMapper.xml"/>
        <mapper resource="mapper/xml/CarMapper.xml"/>
        <mapper resource="mapper/xml/RiderMapper.xml"/>
    </mappers>
</configuration>
